2_ano/RC/pratico/guiao_4/parte_1/raw.png/raw.png/project-files/dynamips/b706faf5-6f5a-4a84-9000-c147578b16f3/c7200_i2_iomem
2_ano/RC/pratico/guiao_4/parte_1/raw.png/raw.png/project-files/dynamips/79440c4a-bdcf-4ee0-870b-23369256a639/c7200_i3_iomem
2_ano/RC/pratico/guiao_4/parte_1/raw.png/raw.png/project-files/dynamips/4e0b0ca7-94c8-414d-8eb2-223b97f4d531/c7200_i1_iomem
